<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("layouts/header.ejs") %>

</head>

<body>
    <h1>home</h1>

    <a href="/student">Student Manager</a>

    <%- include("layouts/cdn.ejs") %>
</body>

<script>
    // let logout = () => {
    //     axios({
    //         method: 'get',
    //         url: 'http://localhost:3000/api/logout',
    //     }).then(result => {
    //         window.location.replace(
    //             `http://${window.location.hostname}:${window.location.port}/auth/login`
    //         )
    //     })
    // }
</script>

</html>